<!--<h2>Manage Book</h2>
<ul [ngClass] = "'manage-book'">
  <li *ngFor="let book of books" >
          Id: {{book.id}}, Name = {{book.name}}
	  <button (click)="updateBook(book.id)">Update</button>
	  <button (click)="deleteBook(book.id)">Remove</button>
  </li>
</ul>-->
<div style="display: column;">
  <mat-selection-list >
    <mat-checkbox  #{{shoe.id}} [checked]="isXyzChecked" [(ngModel)]="shoe.selected" *ngFor="let shoe of books">
       Book Name:-{{shoe.name}} 
    </mat-checkbox>
  </mat-selection-list>

</div>


<p>

</p>
<br/><button  mat-raised-button color="accent" (click)="deleteFoodSelected()">delete All</button>



  
                



